@import '../../variables';

// view styles

.view {
  position: relative;
  flex: 1;
  margin: 0;
  padding: @space-base @space-base @space-giant;

  @media (min-width: @desktop-width) {
    margin: 0 @space-large;
  }

  @media (min-width: @large-desktop-width) {
    margin-left: @sixteenth;
    margin-right: @sixteenth;
  }

  @media (min-width: @large-desktop-width) {
    margin-left: @eighth;
    margin-right: @eighth;
  }

  @media (min-width: @huge-desktop-width) {
    margin-left: @sixth;
    margin-right: @sixth;
  }

  .ui.header {
    margin: @space-large auto;
    text-align: center;

    @media (min-width: @tablet-width) {
      text-align: left;
    }
  }

  .ui.stackable.grid {
    align-items: center;
  }

  .ui.basic.icon.buttons {
    display: block;
    margin: @space-large 0;
    border: 0;
    text-align: center;

    .ui.button {
      border: 0;
    }
  }
}
