@import '../../variables';

// view styles

.view {
  position: relative;
  flex: 1;
  margin: 0;
  padding: @space-base 0;

  &.root {
    padding-top: 0;
  }

  &.project {

    .ui.left.rail {
      position: relative;
      top: 0;
      left: 0;
      width: @full;
      margin: 0;
      padding: @space-base 0;
      background-color: @background-color;
      z-index: 1;

      @media (min-width: @desktop-width) {
        position: absolute;
        width: @quarter + 5%;
      }

      .ui.fixed.sticky {
        position: relative;
        margin: @space-base;
        padding: @space-base;
        border: @space-micro solid @primary-color;

        @media (min-width: @desktop-width) {
          position: fixed;
          width: @quarter;
        }

        &.offset {
          margin-top: @space-massive;
        }

        .ui.header {
          text-align: center;

          @media (min-width: @desktop-width) {
            text-align: left;
          }
        }
      }
    }

    @media (max-width: @desktop-width) {

      .ui.projects.module {
        display: none;
      }
    }
  }

  &.about {
    padding: @space-base @space-base @space-giant;

    .ui.header {
      margin: @space-large auto;
    }

    @media (min-width: @desktop-width) {
      margin: 0 @space-large;
    }
  }

  &.blog {

  }

  &.contact {

  }
}
