<template name="about">
    <div class="animated fadeIn about view">
        <h1 class="ui header">{{ dict 'about.title' 'About' }}</h1>
        <div class="ui relaxed stackable grid">
            <div class="eight wide column">
                <div class="about content">
                    {{{ dict 'about.content' }}}
                </div>
            </div>
            <div class="eight wide column">
                <img class="ui fluid image" src="{{ dict 'about.image' '/images/about/tree.png' }}" />
            </div>
        </div>
    </div>
</template>
