<template name="project">
    <div class="project view">
        {{#if Template.subscriptionsReady}}
            {{#with project}}
                <div class="ui left rail">
                    <div class="ui fixed sticky">
                        <h2 class="ui header">{{title}}</h2>
                        <div class="description">
                            {{{description}}}
                        </div>
                        {{> copyright}}
                    </div>
                </div>
                {{> album}}
            {{/with}}
            {{> projects}}
        {{else}}
            {{> loading}}
        {{/if}}
    </div>
</template>