<template name="project">
    <div class="animated fadeIn project view">
        {{#if Template.subscriptionsReady}}
            {{#with project}}
                <div class="ui left rail">
                    <div class="ui animated flipInX fixed sticky">
                        <h2 class="ui header">{{title}}</h2>
                        <div class="description">
                            {{{description}}}
                        </div>
                        {{> copyright}}
                    </div>
                </div>
                {{> album}}
            {{/with}}
            <div class="ui centered icon buttons">
                <a class="ui button">
                    <i class="angle left icon"></i>
                </a>
                <a class="ui button" href="{{pathFor 'root'}}">
                    <i class="grid layout icon"></i>
                </a>
                <a class="ui button">
                    <i class="angle right icon"></i>
                </a>
            </div>
            {{> projects}}
        {{else}}
            {{> loading}}
        {{/if}}
    </div>
</template>