<template name="icons">
  <nav class="icons module">
	  <a class="ui circular icon button" href="#" target="_block">
	    <i class="facebook icon"></i>
	  </a>
		<a class="ui circular icon button" href="#" target="_block">
	    <i class="twitter icon"></i>
	  </a>
		<a class="ui circular icon button" href="#" target="_block">
	    <i class="linkedin icon"></i>
	  </a>
		<a class="ui circular icon button" href="#" target="_block">
	    <i class="google plus icon"></i>
	  </a>
	</nav>
</template>
