<template name="social">
  <nav class="social module">
	  <a class="ui circular icon button" href="#" target="_black">
	    <i class="facebook icon"></i>
	  </a>
		<a class="ui circular icon button" href="#" target="_black">
	    <i class="twitter icon"></i>
	  </a>
		<a class="ui circular icon button" href="#" target="_black">
	    <i class="linkedin icon"></i>
	  </a>
		<a class="ui circular icon button" href="#" target="_black">
	    <i class="google plus icon"></i>
	  </a>
	</nav>
</template>
