<template name="post">
    <div class="animated fadeIn post view">
        {{#if Template.subscriptionsReady}}
            {{#with post}}
                <h2 class="ui header">
                    {{title}}
                    <small class="sub header">
                        posted {{formatDate createdAt}}
                    </small>
                </h2>
                <div class="post content">
                    {{{content}}}
                </div>
                <div class="ui massive basic icon buttons">
                    <a class="ui prev button">
                        <i class="chevron left icon"></i>
                    </a>
                    <a class="ui button" href="{{pathFor 'blog'}}">
                        <i class="list layout icon"></i>
                    </a>
                    <a class="ui next button">
                        <i class="chevron right icon"></i>
                    </a>
                </div>
            {{/with}}
            {{> MailChimpListSubscribe}}
        {{else}}
            {{> loading}}
        {{/if}}
    </div>
</template>