<template name="post">
    <div class="animated fadeIn post view">
        {{#if Template.subscriptionsReady}}
            {{#with post}}
                <h2 class="ui header">
                    {{title}}
                    <small class="sub header">
                        posted {{formatDate createdAt}}
                    </small>
                </h2>
                <div class="post content">
                    {{{content}}}
                </div>
            {{/with}}

        {{else}}
            {{> loading}}
        {{/if}}
    </div>
</template>