<template name="contact">
    <div class="animated fadeIn contact view">
        <h1 class="ui header">{{ dict 'contact.title' 'Contact' }}</h1>

        <div class="ui stackable grid">
            <div class="seven wide column">
                <div class="contact content">
                    {{{ dict 'contact.content' }}}
                </div>
            </div>
            <div class="nine wide column">
                <a class="email" href="mailto:{{ dict 'contact.email' 'dvazgird@gmail.com' }}">
                    <h2 class="ui huge icon header">
                        <i class="{{ dict 'contact.icon' 'comments icon' }}"></i>

                        <div class="content">
                            {{ dict 'contact.email' 'dvazgird@gmail.com' }}
                            <div class="sub header">
                                {{ dict 'contact.message' 'Get in touch!' }}
                            </div>
                        </div>
                    </h2>
                </a>
            </div>
        </div>
    </div>
</template>