@import '../../../variables';

// copyright styles

.copyright.module {
  margin: @space-tiny 0 0;
  padding-top: @space-tiny;
  border-top: @space-micro solid @header-color;
  color: @secondary-color;
  font-size: @font-size-small;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
  }
}
