@import '../../../variables';

// copyright styles

.copyright.module {
	margin-bottom: @space-huge + @space-tiny;
	font-size: @font-size-small;
	text-align: center;

	@media (min-width: @tablet-width) {
		font-size: @font-size-small + @font-size-micro;
	}
}
