<template name="posts">
    {{#if Template.subscriptionsReady}}
        <div class="ui divided link posts items">
            {{#each posts}}
                <a class="post item" href="{{pathFor '/blog/:id' id=_id}}">
                    <div class="ui image">
                        <img src="{{thumb}}">
                    </div>
                    <div class="content">
                        <h2 class="title">{{title}}</h2>
                        <span class="meta">
                            posted {{formatDate createdAt}}
                        </span>
                        <div class="description">
                            <p>{{description}}</p>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
    {{else}}
        {{> loading}}
    {{/if}}
</template>
