<template name="posts">
    {{#if Template.subscriptionsReady}}
        <div class="ui divided link posts items module">
            {{#each posts}}
                <a class="post item" href="{{pathFor '/blog/:id' id=_id}}">
                    <img class="ui image" src="{{thumb}}">
                    <div class="content">
                        <h2 class="title">{{title}}</h2>
                        <p class="meta">posted {{formatDate createdAt}}</p>
                        <div class="description">
                            <p>{{description}}</p>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
    {{else}}
        {{> loading}}
    {{/if}}
</template>
