<template name="author">
    <div class="author module">
        <h2 class="ui header">
            <img src="/images/about/tree.png" class="ui circular image">
            <a class="path" href="http://damirvazgird.com" target="_blank">Damir Vazgird</a>
            <div class="sub header">
                <a class="path" href="http://damir.io" target="_blank">software engineer</a>
                <span class="break">become</span>
                <a class="path" href="{{pathFor 'root'}}">graphic novelist</a>
            </div>
        </h2>
    </div>
</template>